<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">사용자 정의값</div>
                <div class="modal-body">

                    <input type="text" id="picker" placeholder="검색" ng-model="query" auto-focus class="modal-filter padded-picker">

                    <div class="modal-div">

                        <table id="defense-table" floating-header>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>이름</th>
                                    <th>장소</th>
                                    <th>난이도</th>
                                    <th>방어력</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="defense in list" ng-click="pickDefense(defense)">
                                    <td class="slot small" decorate-slot="notitle" uid="defense[3]"></td>
                                    <td>{{defense[0]}}</td>
                                    <td>{{defense[1]}}</td>
                                    <td>{{defense[2]}}</td>
                                    <td>{{defense[4] | number}}</td>
                                </tr>
                            </tbody>
                        </table> 

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">닫기</button> 
                </div>
            </div>
        </div>
    </div>

</div>
