<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">갓착맨 데미지 계산기 사용설명서</div>
                <div class="modal-body slim">
                    <div id="instructions">
					데미지 계산기의 특수기능에 대한 설명입니다.
                    <p><p>
					<b>데미지 표시부분: (오른쪽 영역)</b>
                    <br>
                    각 속성에 가하는 데미지를 클릭하면 아래 동작이 가능해집니다.
                    <ul>
  						<li><tt>마우스 휠 클릭</tt>: Miss > Below Good > Good > Great > Perfect 순으로 변경</li>
                        <li><tt>CTRL누르고 클릭</tt>: Miss > Below Good > Good > Great > Perfect 순으로 변경</li>
                        <li><tt>SHIFT누르고 클릭</tt>: 적 유닛 속성변경 (개인별 타겟)</li>
                        <li><tt>드래그 &amp; 드롭</tt>: 공격 순서 변경</li>
						<li><tt>배경 더블클릭:</tt>: 야간모드 On/Off</li>
                    </ul>
                    <br>
                    <b>캐릭터 선택창: (가운데 영역)</b>
                    <ul>
                        <li><tt>CTRL누르고 클릭</tt>: 구슬상태를 동일 > 상성 > 기본값 으로 변경 (구슬클릭 으로 변경가능)</li> 
                        <li><tt>SHIFT누르고 클릭</tt>: 선장효과 무효화</li>
                        <li><tt>ALT누르고 클릭</tt>: 캐릭터 봉인</li>
                        <li><tt>SHIFT + ALT 누르고 클릭</tt>:캐릭터 소실 (쿠마 필살기)</li>
                        <li><tt드래그 &amp; 드랍</tt>: 캐릭터 위치 변경</li>
						<li><tt>레벨 클릭</tt>: 레벨 변경 가능</li>
						<li><tt>레벨 마우스 휠로 클릭</tt>: 캐릭터 레벨 MAX로 변경</li>

                    </ul>
                    <br>
                    <b>선박: (왼쪽 영역 설정창)</b>
                    <ul>
                       <li><tt>CTRL 누르고 클릭</tt>: 선박 선택창 열림 (마우스 휠클릭 동일)</li> 
                    </ul>
                    <br>
                    <b>적 방어력: (왼쪽 설정창)</b>
                    <ul>
                       <li><tt>CTR 누르고 클릭L</tt>: 사용자 정의된 적 방어력창 열림(마우스 휠클릭 동일)</li> 
                    </ul>
                    <br>
                    <b>스텟 설정: (캐릭선택창 아래)</b>
                    <ul>
                        <li><tt>슬라이더 드래그</tt>: 체력값 조정</li>
                        <li><tt>체력 클릭</tt>: 명령어창이 열리면 체력 값 혹은 체력% 로 입력가능</li>
                    </ul>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">닫기</button> 
                </div>
            </div>
        </div>
    </div>

</div>
