<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">캐릭터 선택
                    <p class="pull-right">
                        <span class="help" popover-trigger="mouseenter" popover-placement="bottom"
                            uib-popover-template="'operators.html'">연산자 사용법</span>
                    </p>
                </div>
                <div class="modal-body">

                    <input type="text" id="picker" placeholder="캐릭명 입력"
                        ng-model="query" ng-model-options="{ debounce: 500 }" auto-focus class="modal-filter">

                    <div id="pickerUnits" class="modal-div">
                        <div class="slot medium" ng-repeat="unit in units" ng-click="pickUnit(unit.number)"
                            decorate-slot="static" uid="unit.number + 1" flag="true">
                        </div> 
                    </div>

                    <div id="recent">
                        <span>최근 선택목록</span>
                        <div id="recentUnits">
                            <div class="slot small" ng-repeat="unit in recents" ng-click="pickUnit(unit)"
                                decorate-slot uid="unit + 1" flag="true">
                            </div> 
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ui-sref="^">닫기</button> 
                </div>
            </div>
        </div>

        <script id="operators.html" type="text/ng-template">
            <div>
                연산자 기호 사용방법:
                <br>
                <ul>
                    <li><tt>속성:X</tt>: 해당 속성의 캐릭터만 보여줍니다. </li>
                    <li><tt>타입:X</tt>: 해당 타입의 캐릭터만 보여줍니다. X (격투, 참격, ...)</li>
                    <ul><li>For Free Spirit units enter free_spirit or just free</li></ul>
                </ul>
                <br>
                등호 사용방법:
                <ul>
                    <li><tt>hp&gt;X</tt>: 체력이 X값보다 큰 캐릭터만 보여집니다.</li>
                    <li><tt>atk&gt;X</tt>: 공격력이 X값보다 큰 캐릭터만 보여집니다.</li>
                    <li><tt>cost&gt;X</tt>: 코스트가 X값보다 큰 캐릭터만 보여집니다.</li>
                    <li><tt>stars&gt;X</tt>: 등급이 X값보다 큰캐릭터만 보여집니다.</li>
                    <li><tt>id&gt;X</tt>: 등록번호가 X값보다 큰 캐릭터만 보여집니다. X</li>
                    <li><tt>slots&gt;X</tt>: 슬롯이 X값보다 큰 캐릭터만 보여집니다.</li>
                </ul>
                다음과 같은 등호도 사용가능합니다. "<tt>&lt;</tt>", "<tt>&gt;=</tt>", "<tt>&lt;=</tt>", "<tt>=</tt>".
                <br><br>
                사용 예:
                <br>
                <tt>type:str class:fighter atk>1300 cost>20</tt>
            </div>
        </script>

    </div>

</div>
