<script id="tooltip.html" type="text/ng-template">
    <div>
        <div ng-repeat="uid in unit.evolvers track by $index" class="slot micro" decorate-slot uid="uid"></div>
    </div>
</script>

<script id="required-by.html" type="text/ng-template">
    <div>
        Required by:
        <ul>
            <li ng-repeat="character in getRequiredBy(id)">
                {{character}}
            </li>
        </ul>
    </div>
</script>

<h2 class="page-header">
    진화시킬 캐릭터
    <collapse n="0" collapsed="collapsed"></collapse>
</h2>

<div>
    진화시키려는 캐릭터를 선택하세요. EX)풍선루피를 기어3로 진화시킬분은 기어3를 선택해야합니다. <br />CTRL이나 휠키로 삭제가능.
    CTRL+Shift를 누르고 클릭하면 캐릭터와 재료 동시 삭제 가능.
    <div id="pool" class="panel">
        <a class="slot small" remove-on-click="pool" target="_blank" add-href
            decorate-slot uid="unit.to" ng-repeat="unit in pool"
            uib-tooltip uib-tooltip-template="'tooltip.html'"></a>

        <add-button ui-sref=".pick"></add-button>
    </div>
</div>

<h2 class="page-header">
    재료 선택
    <collapse n="1" collapsed="collapsed"></collapse>
</h2>

<div>
    현재 보유하고있는 재료 선택, 재료선택 후 클릭시 보유량 조정가능.
    <span class="pull-right clickable" title="빠른 선택"
        uib-popover uib-popover-template="'views/popover.html'" popover-trigger="click" popover-title="빠른 선택">
        <i class="fa fa-bolt"></i>
    </span>
    <span class="pull-right clickable" ng-click="sortMatsByColor = !sortMatsByColor">
        <i class="fa fa-retweet"></i>
    </span>
    <div id="pool" class="panel">
        <a class="slot small" remove-on-click="mats" target="_blank" change-on-click
            decorate-slot uid="unit.id" amount="unit.amount" ng-repeat="unit in mats"></a>
        <add-button ui-sref=".pickMat"></add-button>
    </div>
</div>

<h2 class="page-header">재료</h2>

<div>
    <table id="mat-table" class="table table-striped">
        <tr>
            <th>부족한 재료</th>
            <th>보유한 재료</th>
        </tr>
        <tr ng-repeat="type in matTypes" ng-if="required[type] || available[type]">
            <td>
                <a class="slot small" ng-repeat="(id,units) in required[type].missing | orderBy:'id'" target="_blank"
                    add-href decorate-slot uid="id" amount="units.length" units="units" available="available"
                    uib-tooltip uib-tooltip-template="'required-by.html'" tooltip-placement="top">
                </a>
            </td>
            <td>
                <a class="slot small" ng-repeat="(id,units) in required[type].completed | orderBy:'id'" target="_blank"
                    add-href decorate-slot uid="id" amount="units.length" units="units" available="available"
                    uib-tooltip uib-tooltip-template="'required-by.html'" tooltip-placement="top">
                </a>
            </td>
        </tr>
    </table>
</div>

<h2 class="page-header" ng-if="unused.length > 0">사용하지 않는 재료</h2>

<div ng-if="unused.length > 0">
    <div id="unused" class="panel">
        <a class="slot small" target="_blank" decorate-slot uid="unit.id" amount="unit.amount"
            ng-repeat="unit in unused"></a>
    </div>
</div>

<h2 class="page-header" ng-if="extra.length > 0">남은 재료</h2>

<span ng-if="extra.length > 0">남아있는 재료입니다.</span>
<div ng-if="extra.length > 0">
    <div id="unused" class="panel">
        <a class="slot small" target="_blank" decorate-slot uid="unit.id" amount="unit.amount"
            ng-repeat="unit in extra"></a>
    </div>
</div>

<h3 class="page-header">저장/불러오기</h3>

<div id="button-container">
    <export-button></export-button>
    <import-button></import-button>
</div>

<div class="footer"></div>
