<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">침착한 설명서</div>
                    <div class="modal-body slim">
                        <div id="instructions">
                            계산기 사용방법:
                            <br>
                            <ol>
                                <li>능작및 스킬업을 시킬 캐릭터를 선택합니다.</li>
                                <li>선택한 캐릭터에 슬롯이 있으면 선택합니다.</li>
                                <ul>
                                    <li>슬롯에 레벨을 조정할수있습니다.</li>
                                </ul>
                                <li>보유하고있는 동일캐릭/스킬북 갯수를 입력합니다.</li>
                                <li>필요한 스킬업 횟수를 입력합니다.</li>
                                <ul>
                                    <li>만약, 확률 2배 이벤트 기간이라면<br> 체크박스를 클릭해주세요!</li>
                                </ul>
                                <li>세팅이 완료되었으면, 계산하기 버튼을 눌러주세요</li>
                                <li>그리고, 낮은 확률을 보며, 마음껏 좌절하시면 됩니다.ㅋ</li>
                            </ol>

                       
                           <b>덧붙이는 말:</b><br><tt>이것은 데이터 누적으로 얻어진 단순한 확률일 뿐입니다.. <br> 충분한 스킬북을 얻지 못하였더라도 .. 울지마세요 <br>언젠간 만렙이 되겠죠....털썩..</tt>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">닫기</button> 
                </div>
            </div>
        </div>
    </div>

</div>
