<div id="clear-button" class="filter-header" ng-click="clearFilters()">Clear filters</div>

<div class="filter-container">
    <span class="filter-header">속성</span>
    <span ng-model="filters.type" ng-repeat="(n,type) in ['힘']"
        class="filter width-4 type STR" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
        <span ng-model="filters.type" ng-repeat="(n,type) in ['속도']"
        class="filter width-4 type QCK" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
        <span ng-model="filters.type" ng-repeat="(n,type) in ['기술']"
        class="filter width-4 type DEX" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-model="filters.type" ng-repeat="(n,type) in ['마음']"
        class="filter width-6 type PSY" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
        <span ng-model="filters.type" ng-repeat="(n,type) in ['지능']"
        class="filter width-6 type INT" ng-class="{ active: filters.type == type }"
        ng-click="onFilterClick($event,type)">{{type}}</span>
      
</div>

<div class="filter-container">
    <span class="filter-header">타입</span>
    <span ng-repeat="(n,class) in [ '격투', '사격', '참격', '타격', '자유', '박식', '강인', '야심', '진화용', '강화용' ]"
        class="filter width-6 class" ng-click="onClassClick($event,class)"
        ng-class="{ active: filters.classes.indexOf(class) > -1 }">{{class}}</span>
</div>


<div class="filter-container">
    <span class="filter-header">등급</span>
    <span ng-repeat="(n,stars) in [ 1, 2, 3, 4, 5, 6 ]" class="filter stars width-4 stars-{{stars}}"
        ng-click="onStarsClick($event,stars)" ng-class="{ active: filters.stars.indexOf(stars) > -1 }"></span>
    <span ng-repeat="(n,stars) in [ 5, 6 ]" class="filter stars width-4 stars-{{stars}}+"
        ng-click="onStarsClick($event,stars + '+')" ng-class="{ active: filters.stars.indexOf(stars + '+') > -1 }"></span>
</div>

<div class="filter-container expandable" id="cost-container"
        ng-class="{ expanded: filters.costEnabled }">
    <span class="filter-header" ng-click="filters.costEnabled = !filters.costEnabled">
        코스트
        <i class="pull-right fa fa-{{costExpanded ? 'chevron-up' : 'chevron-down'}}"></i>
    </span>
    <input type="text" id="cost-slider" name="cost-slider" value="" cost-slider></input>
</div>

<div class="filter-container">
    <span class="filter-header">드랍 필터</span>
    <span ng-repeat="type in [ '파밍 가능', '파밍 불가' ]" class="filter width-6 drop" ng-model="filters.drop"
        ng-class="{ active: filters.drop == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ '글로벌 캐릭터', '일본판 한정' ]" class="filter width-6 drop" ng-model="filters.server"
        ng-class="{ active: filters.server == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ '레어 동료', '레어 동료 제외' ]" class="filter width-6 drop" ng-model="filters.rr"
        ng-class="{ active: filters.rr == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
    <span ng-repeat="type in [ '소켓 캐릭터', '비소켓 캐릭터' ]" class="filter width-6 drop" ng-model="filters.socket"
        ng-class="{ active: filters.socket == type }" ng-click="onFilterClick($event,type)">{{type}}</span>
</div>

<div class="filter-container conditional" ng-show="filters.drop == '파밍 가능'">
    <span class="filter-header">파밍 가능한 장소</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.story }"
        ng-model="filters.farmable.story" ng-click="onDropFilterClick($event,true)">스토리 한정</span><!--
 --><span class="filter width-6 exc" ng-class="{ active: filters.farmable.story === false }"
        ng-model="filters.farmable.story" ng-click="onDropFilterClick($event,false)">스토리 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.fortnight }"
        ng-model="filters.farmable.fortnight" ng-click="onDropFilterClick($event,true)">스페셜던전 한정</span><!--
 --><span class="filter width-6 exc" ng-class="{ active: filters.farmable.fortnight === false }"
        ng-model="filters.farmable.fortnight" ng-click="onDropFilterClick($event,false)">스페셜던전 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.raid }"
        ng-model="filters.farmable.raid" ng-click="onDropFilterClick($event,true)">강림 한정</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.raid === false }"
        ng-model="filters.farmable.raid" ng-click="onDropFilterClick($event,false)">강림 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.Coliseum }"
        ng-model="filters.farmable.Coliseum" ng-click="onDropFilterClick($event,true)">콜로세움 한정</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.Coliseum === false }"
        ng-model="filters.farmable.Coliseum" ng-click="onDropFilterClick($event,false)">콜로세움 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.farmable.Treasure }"
        ng-model="filters.farmable.Treasure" ng-click="onDropFilterClick($event,true)">트레저맵 한정</span><!--
 --><span class="filter width-6 exc"  ng-class="{ active: filters.farmable.Treasure === false }"
        ng-model="filters.farmable.Treasure" ng-click="onDropFilterClick($event,false)">트레저맵 숨김</span>
</div>

<div class="filter-container conditional" ng-show="filters.drop == '파밍 불가'">
    <span class="filter-header">파밍 불가 목록</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.lrr }"
        ng-model="filters.nonFarmable.lrr" ng-click="onDropFilterClick($event,true)">씨크릿 스고페스</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.lrr === false }"
        ng-model="filters.nonFarmable.lrr" ng-click="onDropFilterClick($event,false)">씨크릿스고 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.tmlrr }"
        ng-model="filters.nonFarmable.tmlrr" ng-click="onDropFilterClick($event,true)">트레져맵 한정</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.tmlrr === false }"
        ng-model="filters.nonFarmable.tmlrr" ng-click="onDropFilterClick($event,false)">트레저맵 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.promo }"
        ng-model="filters.nonFarmable.promo" ng-click="onDropFilterClick($event,true)">프로모션 한정</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.promo === false }"
        ng-model="filters.nonFarmable.promo" ng-click="onDropFilterClick($event,false)">프로모션 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.special }"
        ng-model="filters.nonFarmable.special" ng-click="onDropFilterClick($event,true)">이벤트 한정</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.special === false }"
        ng-model="filters.nonFarmable.special" ng-click="onDropFilterClick($event,false)">이벤트 숨김</span>
    <span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.shop }"
        ng-model="filters.nonFarmable.shop" ng-click="onDropFilterClick($event,true)">레일리샵 캐릭터</span><!--
 --><span class="filter width-6 drop" ng-class="{ active: filters.nonFarmable.shop === false }"
        ng-model="filters.nonFarmable.shop" ng-click="onDropFilterClick($event,false)">레일리샵 숨김</span>
</div>

<div class="filter-container">
    <span class="filter-header">한계돌파</span>
    <span class="filter width-12 custom" ng-repeat="(n,filter) in filterData" ng-if="filter.target.indexOf('limit') == 0"
        ng-model="filters.custom[n]" ng-class="{ active: filters.custom[n] }"
        ng-click="filters.custom[n] = !filters.custom[n]">{{filter.name}}</span>
</div>

<div class="filter-container" ng-if="showLogFilters">
    <span class="filter-header">캐릭터 즐겨찾기</span>
    <span class="filter width-12 custom" ng-model="filters.noLog" ng-class="{ active: filters.noLog }"
        ng-click="filters.noLog = !filters.noLog">즐겨찾기 캐릭터 제외</span>
    <span class="filter width-12 custom" ng-model="filters.noMissing" ng-class="{ active: filters.noMissing }"
        ng-click="filters.noMissing = !filters.noMissing">즐겨찾기 캐릭터 표시</span>
</div>