<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">대미지 계산기에 입력된 팀 복사해오기</div>
                <div class="modal-body slim">
                    대미지 계산기에 입력된 팀을 복사해옵니다.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="copyCurrentCalcTeam()">계속</button> 
                    <button class="btn btn-primary" ui-sref="^">취소</button> 
                </div>
            </div>
        </div>
    </div>

</div>
