<div id="outer-container">
    <div id="container">
        <div id="content">
				<h1 class="page-header">
					확률 계산기
				</h1>
            <div >
                <div class="small-container" attach-picker>

                    <div class="unitContainer">

                        <div class="unit" decorate-slot uid="character.uid"
                            ng-class="{ empty: !character || !character.uid }"
                            popover-placement="right" popover-enable="{{character}}"
                            popover-trigger="mouseenter" popover-title="{{character.name}}"
                            uib-popover-template="'views/fragments/popover.html'"></div>

                    </div>
                    <p ng-if="slotCount(character.uid)">소켓이 있다면 선택해 주세요.</p>
                    <p ng-if="!slotCount(character.uid)">이 캐릭터는 소켓이 없습니다.</p>
                    <div class="quick-fill quick-fill-slots" 
                    	ng-class="{ visible: character.uid }" ng-click="quickFillSlots()">
                        채우기
                    </div>
                    <div class="slots">

                        <slot-wheel ng-repeat="slotNumber in range(0, slotCount(character.uid))">
                        </slot-wheel>

                    </div>

                </div>
            </div>
			
			<div id="calculation-area">
				
				<div class="small-container">
                    <form skillevent="">
                         <input type="checkbox" name="event" value = 2 ng-model="specialEvent" ng-change="changeBaseValues()">확률 x2
                        <input type="checkbox" name="event" value = 3 ng-model="special3Event" ng-change="changeBaseValues()">확률 x3 
                        <input type="checkbox" name="event" value = 4 ng-model="special4Event" ng-change="changeBaseValues()">확률 x4 
                    </form>
                    &nbsp; &nbsp;
                    <p></p>
					캐릭터/스킬북 개수: <input type="text" class="number-field" ng-model="copies" placeholder="예) 65" auto-focus
						ng-change="changeBaseValues()" id="copies">
                    <p></p>
					필요한 스킬업 회수: <input type="text" class="number-field" ng-model="skillups" placeholder="예) 10" auto-focus
						ng-change="changeBaseValues()" id="skillups">
					<div class="quick-fill quick-fill-skillups" 
						ng-class="{ visible: character.uid }" ng-click="quickFillSkillups(character.uid)">
                        채우기
                    </div>
					
				</div>
				
				<div class="small-container">
					<p>  
					{{copies}}개의 캐릭터/스킬북으로 {{skillups}}번의 레벨을 올릴 수 있는 확률입니다:<br>
					<label ng-attr-style="color: {{specialProbabilityColor}}" class="result">{{specialProbabilityResult}}%</label>
					</p>
					<uib-progressbar animate="false" value="specialProbabilityProgress" type="success"><b>{{specialProbabilityProgressBar}}</b></uib-progressbar>
					<button ng-click="!isSpecialReady||calculateSpecialUp()">계산</button>
				</div>

				<div class="small-container">
					<p>  
					{{copies}}개의 동일캐릭 으로 특수능력(슬롯)을 올릴수 있는 확률: <br>
					노트: 현재 슬롯에 특수능력이 있다면, 선택해주세요 <br>
					능력의 레벨은 슬롯에 숫자를 눌러 변경가능합니다. <br>
					<label ng-attr-style="color: {{socketProbabilityColor}}" class="result">{{socketProbabilityResult}}% </label>
					</p>
					<uib-progressbar animate="false" value="socketProbabilityProgress" type="success"><b>{{socketProbabilityProgressBar}}</b></uib-progressbar>
					<button ng-click="!isSocketReady||calculateSocketUp()">계산하기</button>
				</div>

				

			</div>

            <div id="urlContainer" ng-class="{ visible: url }">
                <input ng-model="url"></input>
            </div>

            <div id="buttonContainer">

                <button class="btn btn-danger" ui-sref="main.reset" ng-disabled="!character"  uib-tooltip="Reset" tooltip-append-to-body="true">
                    <i class="fa fa-eraser"></i>
                </button>

                <button class="btn btn-success" ng-click="generateURL()" ng-disabled="!character"  uib-tooltip="Export URL" tooltip-append-to-body="true">
                    <i class="fa fa-exchange"></i>
                </button>
                
                <button type="button" class="btn" ui-sref="main.instruction" title="Instructions" uib-tooltip="Instructions" tooltip-append-to-body="true">
                    <i class="fa fa-question-circle"></i>
                </button>

            </div>

            <div id="transient" class="alert alert-danger" ng-show="options.transient" ng-click="options.transient = false"  uib-tooltip="Save" tooltip-append-to-body="true">
                <i class="fa fa-lock"></i>
                해당 모드에서는 조작이 불가능합니다.
            </div>

        </div>
    </div>
</div>
